* {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  list-style-type: none;
  background-color: rgb(236, 236, 236);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notes {
  display: flex;
}
:root {
  --width-nav: 250px;
}
.notes__sidebar {
  height: 92.3vh;
  width: var(--width-nav);
  padding: 1.5rem 0.5rem;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 100px 0 0;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #68beb4 100%);
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.notes__logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

.notes__list {
  color: #fff;
  padding: 1.54rem 0.5rem;
  overflow-y: auto;
  margin-top: 1rem;
  flex-grow: 1;
}

.notes__list::-webkit-scrollbar {
  display: none;
}
/* buttons */

.coolBeans {
  border: 2px solid currentColor;
  cursor: pointer;
  border-radius: 8px;
  width: 170px;
  height: 50px;
  color: rgb(12, 163, 168);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  z-index: 0;
  margin-right: 0.8rem;
}

.notes__add::after {
  background-color: rgb(1, 146, 230);
  color: #fff;
  border-radius: 8px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.notes__add:hover::after {
  transform: translate(0, 0);
}

.notes__add:hover {
  border: 2px solid transparent;
  color: #fff;
  transform: scale(1.01);
  will-change: transform;
}

.notes__list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.notes__list-item--selected {
  background-color: rgb(231, 230, 230);
  color: rgba(0, 0, 0, 0.3);
  text-align: justify;
  border-radius: 5px;
}
.notes__small-title {
  margin: 1rem 0.2rem;
  font-size: 25px;
  color: rgba(255, 255, 255);
}
.notes__small-body {
  font-size: 20px;
  border-top: 1px dashed rgba(3, 35, 77, 0.5);
  border-bottom: 1px dashed rgba(3, 35, 77, 0.5);
  border-radius: 5px;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
}
.notes__small-updated {
  margin: 0.5rem;
  color: rgb(207, 207, 207);
  font-style: italic;
  direction: ltr;
}
/* notes__preview */

.notes__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
}
.notes__title {
  width: 90%;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 2rem;
  font-size: 20px;
  padding: 1rem 0.5rem;
  color: rgba(104, 104, 104, 0.9);
  transition: all 0.5s;
}
.notes__title:focus {
  box-shadow: 0 0 10px rgb(15, 104, 131);
}
.notes__body {
  width: 90%;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 60vh;
  margin-bottom: 2rem;
  font-size: 20px;
  padding: 2rem 0.5rem;
  resize: none;
  transition: all 0.5s;
}
.notes__bosy:focus {
  box-shadow: 0 0 10px rgb(15, 104, 131);
}

.notes__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__list-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  color: red;
  transition: all 0.5s;
}
.notes__list-trash:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
